<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    </head>

    <body>
        <div>
            <div id="cabeçalho">
                <img src="../imagens/logo.png" id="imagem-logo">
                <img src="../imagens/detalhe-topo.png" id="imagem-br">
            </div>
            <div id="alinhamento">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Brasil.html" id="marcado">Brasil</a></li>
                    <li><a href="">Internacional</a></li>
                    <li><a href="">Economia</a></li>
                    <li><a href="">Saúde</a></li>
                    <li><a href="">Ciência</a></li>
                    <li><a href="">Fotos</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>