<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    </head>

    <body>

        <div>
            <div id="cabeçalho"> 
                <img src="../imagens/logo.png" id="imagem-logo">
                <img src="../imagens/detalhe-topo.png" id="imagem-br">
            </div>
            <div id="alinhamento">
                <ul>
                    <li><a href="index.html" id="marcado">Home</a></li>
                    <li><a href="Brasil.html">Brasil</a></li>
                    <li><a href="">Internacional</a></li>
                    <li><a href="">Economia</a></li>
                    <li><a href="">Saúde</a></li>
                    <li><a href="">Ciência</a></li>
                    <li><a href="">Fotos</a></li>
                </ul>
            </div>
        </div>
    
        
        <div id="parte-baixo-total">
            <div class="materia">
                <h3 class="titulo">Entrevistas</h3>
                <ul class="content">
                    <li><a href="">José Almeida</a></li>
                    <li><a href="">Felipe Silva</a></li>
                    <li><a href="">Renato Rodrigues</a></li>
                    <li><a href="">Abelardo Silveira</a></li>
                    <li><a href="">André Carlos</a></li>
                    <li><a href="">Márcio Mello</a></li>
                    <li><a href="">João Pedro</a></li>
                    <li><a href="">Fernando Weiss</a></li>
                </ul>
                <hr>
                <div>
                    <h3 class="titulo">News</h3>
                    <label for="email" class="cadastro1">Email:</label>
                    <input type="text" name="Email" id="email" placeholder="Email" class="cadastro2">
                    <button value="cadastro" type="submit" class="botao">cadastrar</button>
                </div>
            </div>

            

            <div id="post">
                <div class="fundo">
                    <h3 class="titulo">Últimas notícias</h3>
                    <h2>Entrevista com felipe silva</h2>
                    <img src="../imagens/doutor.jpg" class="tamanho">
                    <p>Lorem ipsum dolo
                        r sit amet, consectetur adipisicing eli
                        t. In tempora assumenda voluptatum magn
                        am sed nemo odio tenetur voluptatibus di
                        cta cum sint quae cumque, quo aut exerci
                        tationem dolorem ipsum ea voluptate!</p>
                        <a href="" class="ler-mais">Ler mais</a>
                </div>
            </div>
            <div id="post">
                <div class="fundo">
                    <h3 class="titulo">Destaque</h3>
                    <h2>Nova legislação!</h2>
                    <img src="../imagens/mundo.jpg" class="tamanho">
                    <p>Lorem ipsum dolo
                        r sit amet, consectetur adipisicing eli
                        t. In tempora assumenda voluptatum magn
                        am sed nemo odio tenetur voluptatibus di
                        cta cum sint quae cumque, quo aut exerci
                        tationem dolorem ipsum ea voluptate!</p>
                        <a href="" class="ler-mais">Ler mais</a>
                </div>
            </div>


            <div id="post">
                <div class="fundo">
                    <h3 class="titulo">Noticias recentes</h3>
                    <img src="../imagens/taxi.jpg" class="tamanho">
                    <p>Lorem ipsum dolor sit amet, consecte
                        tur adipisicing elit. Iure aspernatur natu
                        s repellat provident, adipisci corrupti volupt
                        atem suscipit sunt assumenda amet! Aliquam 
                        quibusdam, ducimus perspiciatis in eligen
                        di beatae dicta voluptatem quis?</p>
                        <a href="" class="ler-mais">Ler mais</a>
                </div>
            </div>

            <div id="post">
                <div class="fundo">
                    <h3 class="titulo">Mundo</h3>
                    <img src="../imagens/tecnologia.jpg" class="tamanho">
                    <p>Lorem ipsum dolor sit amet, consecte
                        tur adipisicing elit. Iure aspernatur natu
                        s repellat provident, adipisci corrupti volupt
                        atem suscipit sunt assumenda amet! Aliquam 
                        quibusdam, ducimus perspiciatis in eligen
                        di beatae dicta voluptatem quis?</p>
                        <a href="" class="ler-mais">Ler mais</a>
                </div>
            </div>

        </div>

    </body>
</html>